div#containerTitle {
    left: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #003366;
    color:white;
}

div#thermo {
    left: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #003366;
    color:white;
}

div#powSav {
    left: 50%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #003366;
    color:white;
}

body {
    text-align: center;
}